body {
    font-family: 'Roboto Condensed', sans-serif;
}

.header__title {
    color: #25b6eb;
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    text-align: center;
    font-style: italic;
}

.header__description {
    color: #006b3e;
    font-size: 26px;
    text-align: center;
}

.ingredients {
    width: 25%;
    background-color: #a1513f;
    border-radius: 35px;
}

.ingredients__title {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
}

.ingredients__list {
    color: white;
    font-size: 18px;
}

.main-content__title {
    margin-bottom: 0;
    color: #25b6eb;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-content__subtitle {
    margin-top: 0;
    color: #006b3e;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.main-content__list {
    width: 21%;
    font-size: 18px;
    font-weight: bold;
}